body {
  margin: 0;
  font-family: LinearSans, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #2a172d !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
