name: Sync apps-public repo

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout apps repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Clone apps-public repo
        uses: GuillaumeFalourd/clone-github-repo-action@v2.3
        with:
          owner: "Probable-Futures"
          repository: "apps-public"
          access-token: ${{ secrets.FINE_GRAINED_PAT }}

      - name: Sync Changes
        run: |
          LATEST_COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          cd apps-public
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config user.name "${GITHUB_ACTOR}"
          rsync -av --compare-dest --update --checksum --exclude .git --exclude apps-public --exclude *node_modules --exclude GETTING_STARTED.md ../../apps/ ./
          git add .
          git commit -m "$LATEST_COMMIT_MESSAGE" --allow-empty
          git push origin main
